[project]
name = "{{ project_slug }}"
version = "0.1.0"
requires-python = ">={{ python_version }}"
dependencies = []

[project.scripts]
{{ project_slug }} = "{{ project_slug|replace('-', '_') }}:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
